
.ff-bold        {font-family: $font-family-bold !important;}
.ff-medium, .b  {font-family: $font-family-medium !important;}
.ff-regular     {font-family: $font-family-regular !important;}
.ff-light       {font-family: $font-family-light !important;}
.ff-black       {font-family: $font-family-black !important;}
.i              { font-style: italic !important;}
code, .code     {font-family: Consolas, monaco, monospace;} 