<html>

<head>
    <title>The UI Solution</title>
    <link rel="icon" href="/images/favicon.ico" type="image/ico" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/theme.css" />
</head>

<body class="bg-brand">
    <div class="error-box tc pa-50">
        <div class="imagebox wt-20 ht-20 mid bg-white pa-50 br-pill" style="margin:0 auto 40px">
            <img class="wt--100" src="http://localhost:8888/images/error.svg" />
        </div>
        <div class="error-msg tc ff-black white pv-20 f40 mb-40">Oops! Page Not Found</div>
        <a class="db wt-10 pa-12 primary br4 bg-white mt-30" style="margin:auto" href="/">Go Back to Home</a>
    </div>

</body>

</html>