<html>

<body>
    <form action="/image/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" value="postImage" />
    </form>
    
</body>

</html>