<html>

<head>
    <title>The UI Solution</title>
    <link rel="icon" href="/images/favicon.ico" type="image/ico" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/theme.css" />
</head>

<body>
    {{{pageType}}}
    <div id="app" class="mainApp"></div>
    <script src="/js/blog.js"></script>
    <script type="text/javascript">
        ReactDOM.render(React.createElement(App, {{{ appModel }}}), document.getElementById("app"));
    </script>

</body>

</html>