<html>

<head>
    <title>Crmnext Styleuide</title>
    <link rel="icon" href="/images/favicon.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme/theme.css" />
    <link rel="stylesheet" href="/css/icons.css" />
</head>

<body>
    <form action="/" method="post">
        <input type="text" name="title" />
        <input type="text" name="content" />
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</body>

</html>