.signup-section{
    height: 100vh;
}

.auth-form-row{
    textarea{
        padding-top: 10px !important;
    }
    .input-group .form-control {
        padding-left: 46px !important;
        font-size: 13px !important;
        font-family: 'Nunito Sans', sans-serif;
    }
    .auth-form-icon {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 16px;
        top: 11px;
        z-index: 101;
    }
}

.backToHome {
    left: 30px;
    top: 30px;
}

.comment-row--reply {
    padding-left: 4rem;
}
.grd-row-pa-none{
    margin-right:  -12px;
    margin-left:  -12px;
}

.blog-tag-row> a {
    background: #e9ecef;
    color: #3c4858;
    display: inline-block;
    font-size: 9px;
    letter-spacing: 1px;
    margin: 5px 10px 5px 0;
    padding: 8px 12px 7px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 600;
    &:hover{
        background-color: $brand;
        color: $white
    }
}