
// .ff-bold        {font-family: $font-family-bold !important;}
// .ff-medium, .b  {font-family: $font-family-medium !important;}
// .ff-regular     {font-family: $font-family-regular !important;}
// .ff-light       {font-family: $font-family-light !important;}
// .ff-black       {font-family: $font-family-black !important;}
// .i              { font-style: italic !important;}
// code, .code     {font-family: Consolas, monaco, monospace;} 

.ff-bold        {font-weight: 700 !important;}
.ff-medium, .b  {font-weight: 600 !important;}
.ff-regular     {font-weight: 400 !important;}
.ff-light      {font-weight: 300 !important;}
.ff-black       {font-weight: 900 !important;}
.i              { font-style: italic !important;}
code, .code     {font-family: Consolas, monaco, monospace;} 