.menu-arrow {
    border: solid $primary;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}